.carousel-item img {
  width: 100% !important;
  height: 579px !important;
}
.carouselHeight{
  margin-top: 40% !important;
}
.headingColor {
  color: aliceblue !important;
  font-size: 70px !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.filterHeading {
  font-size: 43px !important;
  margin-left: 19% !important;
  margin-top: 5% !important;
  font-weight: bold !important;
  font-style: italic !important;
}
.filterHeading:hover {
  font-size: 45px !important;
  color: darkred !important;
}
.filterHeading1 {
  margin-top: -20% !important;
  margin-left: 5% !important;
}
.dropdown1 {
  margin-left: 25% !important;
  margin-top: 15% !important;
  display: block !important;
}
#mode1 {
  margin-left: 7%;
  background-color: lightcoral;
  margin-top: 10% !important;
  height: 36px !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-weight: bolder;
  font-size: 16px;
}
#mode2 {
  margin-left: 8%;
  background-color: orchid;
  margin-top: 20% !important;
  height: 36px !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-weight: bolder;
  font-size: 16px;
}
#mode3 {
  margin-left: 9%;
  background-color: lightseagreen;
  margin-top: 16% !important;
  height: 36px !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-weight: bolder;
  font-size: 16px;
}
.buy {
  margin-left: 36% !important;
  margin-top: 10% !important;
}
h6 {
  font-size: 16px;
  margin-bottom: 2% !important;
}
.sweetHeading p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  font-size: 30px !important;
  text-align: center !important;
  margin-top: -12% !important;
  font-weight: bold;
}
a.filter {
  margin-top: -19% !important;
  margin-left: 5% !important;
}
.cardSweets {
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  height: 575px !important;
  width: 370px;
  margin-left: 1%;
}
.cardSweets img {
  height: 250px;
}

.cardSweets p {
  justify-content: center;
  font-style: italic;
  color: darkmagenta;
  font-weight: bold;
  font-size: 15px;
}
.cardSweets:hover {
  transform: scale(1.1);
}
.card-title {
  text-align: center;
  font-size: 25px !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  font-weight: bolder;
}
.card-text {
  text-align: center;
  margin-top: 7%;
  overflow: hidden;
}
.cardWeight{
  text-align: center;
  margin-top: 7%;
  color: darkslategrey  !important;
  font-size: 16px !important;
}
.description5 {
  color: darkmagenta !important;
}
.box {
  display: inline-block !important;
  align-items: center !important;
  align-content: center !important;
  justify-content: center !important;
  min-height: 10vh !important;
  flex-direction: column !important;
  margin-left: 23%;
}
.star {
  font-size: 20px !important;
}
.checked {
  color: orange !important;
}
.button {
  background-color: #ee296a;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 97%;
}
.button:hover {
  background-color: lightseagreen;
}
.pagination {
  margin-top: 1%;
}

.light-theme {
  background-color: white;
}
.dark-theme {
  background-color: rgba(0, 0, 0, 0.698) !important;
}
.navbar-dark {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.bg-dark {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
