#heading1 p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  font-size: 30px !important;
  text-align: center !important;
  margin-top: -18% ;
  font-weight: bold;
}
a.link{
    font-size: 25px !important;
    margin-left: 47% !important;
    margin-top: 10% !important;
}
#heading1 h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  text-align: center !important;
  margin-top: 1%;
}
#heading1 h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  text-align: center !important;
  margin-top: 1%;
}
.col{
  display: inline-block;
}
.cardBox{
  margin-right: 169px  !important;
  margin-left: 200px !important;
}
.card {
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2) !important;
}
.card img {
  height: 293px !important  ;
  width: 100% !important;
}
.card {
  height: 503px !important ;
  margin-top: 9%;
}
.card:hover {
  transform: scale(1.1);
}
.card-title {
  text-align: center !important;
}
.card-text {
  text-align: center !important;
  margin-top: -9%  !important;
  overflow: hidden  !important;
  font-size: 17px !important;
  color: darkslategrey  !important;
}
.box {
  display: inline-block !important;
  align-items: center !important;
  align-content: center !important;
  justify-content: center !important;
  min-height: 10vh !important;
  flex-direction: column !important;
  margin-left: 23%;
}
.star {
  font-size: 20px !important;
}
.checked {
  color: orange !important;
   
}
.button {
  background-color: #ee296a;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 97%;
  margin-left: 2% !important;
}
.button:hover {
  background-color: lightseagreen;
}
h4:hover {
  color: darkgoldenrod;
}
